<section>
    <div class="row">
        <div class="col-12 mt-3 mb-3">
            <h4 class="text-uppercase">Reporte Mensual</h4>
        </div>
    </div>
    <div class="row">
        <div *ngFor=" let card of cardsData" class="col-xl-4 col-sm-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex justify-content-around">
                            <div class="align-self-center">
                                <i class=" {{card.icon}} fs-2"></i>
                            </div>
                            <div class="media-body text-end">
                                <h3>{{card.data}}</h3>
                                <span>{{card.title}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<canvas id="building" class="mt-3">{{chart}}</canvas>