<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                Informe del servicio
            </div>
            <div class="card-body">
                <form>
                    <h3>Solicitante</h3>
                    <div class="form-group mb-4">
                        <input type="text" name="name" class="form-control" placeholder="Nombre" required autofocus>
                    </div>
                    <div class="form-group mb-4">
                        <input type="text" name="email" class="form-control" placeholder="Correo" required>
                    </div>
                    <div class="form-group mb-4">
                        <input type="text" name="department" class="form-control" placeholder="departamento" required>
                    </div>
                    <h3>Antecedente</h3>
                    <div class="form-group mb-4">
                        <textarea type="text" name="problem" class="form-control" required></textarea>
                    </div>
                    <h3>Informacion del equipo</h3>
                    <div class="form-group mb-4">
                        <input type="text" name="inventory" class="form-control" placeholder="Numero de inventario" required>
                    </div>
                    <div class="form-group mb-4">
                        <input type="text" name="type" class="form-control" placeholder="Tipo de equipo" required>
                    </div>
                    <div class="form-group mb-4">
                        <input type="text" name="brand" class="form-control" placeholder="Marca" required>
                    </div>
                    <div class="form-group mb-4">
                        <input type="text" name="model" class="form-control" placeholder="Modelo del equipo" required>
                    </div>
                    <div class="form-group mb-4">
                        <input type="text" name="serialNumber" class="form-control" placeholder="Numero de serie" required>
                    </div>
                    <h3>Descripcion de la inspeccion</h3>                         
                    <div class="form-group mb-4">
                        <textarea type="text" name="description" class="form-control" required></textarea>
                    </div>
                    <h3>Causa(s) y/u observaciones</h3>
                    <div class="form-group mb-4">
                        <textarea type="text" name="comments" class="form-control" required></textarea>
                    </div>
                    <h3>Recomendaciones y dictaminado como</h3>
                    <div class="form-group mb-4">
                        <textarea type="text" name="recomendation" class="form-control" required></textarea>
                    </div>
                    <h3>Asistido y aprobado por</h3>
                    <div class="form-group mb-4">
                        <input type="text" name="dep.responsable" class="form-control" placeholder="Encargado del Depto. De Servicios Informáticos" required>
                    </div>
                    <div class="form-group mb-4">
                        <input type="text" name="inspectResponsable" class="form-control" placeholder="Encargado de la Inspección" required>
                    </div>
                    <div class="form-group mb-4">
                        <input type="text" name="sign" class="form-control" placeholder="Firma" required>
                    </div>
                    <button class="btn btn-primary btn-block">
                        Registrar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>