<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <a href="#">
                    <img src="../../../assets/img/logo-universidad.png" alt="" width="150">
                </a>
                <span class="ms-3">Copyright &copy; 2021 Universidad Tecnológica de la Riviera Maya.</span>
            </div>
            <div class="col-md-6 text-md-end mt-4 mt-md-0">
                <ul class="list-inline">
                    <li class="list-inline-item ms-3"><a href="https://twitter.com/UT_RivieraMaya" class="text-white"><i
                                class="bi bi-twitter"></i></a></li>
                    <li class="list-inline-item ms-3"><a href="https://www.instagram.com/utrivieramaya.bis/?hl=es"
                            class="text-white"><i class="bi bi-instagram"></i></a></li>
                    <li class="list-inline-item ms-3"><a href="https://www.facebook.com/UTRivieraMaya.BIS/"
                            class="text-white"><i class="bi bi-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>