<footer class="d-flex justify-content-between align-items-center py-3 mt-4 border-top bg-primary-subtle">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-decoration-none lh-1">
            <img src="../../../assets/img/logo-universidad.png" alt="">
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">Copyright &copy; 2021 Universidad Tecnológica de la Riviera Maya.</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a href="https://twitter.com/UT_RivieraMaya"><i class="bi bi-twitter"></i></a></li>
        <li class="ms-3"><a href="https://www.instagram.com/utrivieramaya.bis/?hl=es"><i class="bi bi-instagram"></i></a></li>
        <li class="ms-3"><a href="https://www.facebook.com/UTRivieraMaya.BIS/"><i class="bi bi-facebook"></i></a></li>
    </ul>
</footer>
