.low-priority-footer {
    background-color: #9CCC65;
}
.medium-priority-footer {
    background-color: #64B5F6;
}
.high-priority-footer {
    background-color: #EF5350;
}

.card{
    border-radius: 4px;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
}