.low-priority-footer {
    background-color: #3D8BFD;
}
.medium-priority-footer {
    background-color: #FFCD39;
}
.high-priority-footer {
    background-color: #DC3546;
}

.card{
    border-radius: 4px;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
}