<div class="row">
    <div *ngIf="tasks.length === 0" class="col-md-4">
        <h3>No hay tareas para mostrar</h3>
        <img src="../../../assets/img/sin-tareas.jpg" alt="Sin tareas para mostrar">
    </div>

    <div class="col-md-4" *ngFor="let task of getVisibleTasks(); let i = index">
        <div class="card" role="button" (click)="onCardClick(task)">
            <div class="card-body">
                <h3>{{task.title}}</h3>
                <p>{{task.description}}</p>
                <div *ngIf="task === selectedTask">
                    <p><b>Reportado por:</b> {{task.name}}</p>
                    <p><b>Localizacion:</b> {{task.location}}</p>
                    <p><b>Departamento:</b> {{task.department}}</p>
                    <p><b>Prioridad:</b> {{task.priority}}</p>
                    <p><b>Imagen:</b> {{task.image}}</p>
                    <button class="btn btn-success" >Finalizar</button>
                    <button class="btn btn-primary" (click)="transferTask(i, task)">Transferir</button>
                    <button class="btn btn-danger" (click)="deleteTask(i, task)">Eliminar</button>
                </div>
            </div>
            <div class="card-footer justify-content-between low-priority-footer" [ngClass]="{'low-priority-footer': task.priority === 'Baja', 'medium-priority-footer': task.priority === 'Media', 'high-priority-footer': task.priority=== 'Alta'}">
                {{task.createdAt | date: 'mediumDate'}}
            </div>
        </div>
    </div>
</div>