<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p-2 me-3 text-light" (click)="sideNavToggle()">
        <i class="fa-solid fa-bars"></i>
    </div>

    <a class="navbar-brand px-4" href="#"><img src="../../../assets/img/logo-universidad.png" alt=""></a>

    <div class="hot-bar">
        <a href=""><i class="fa-solid fa-book"></i></a>
    </div>

    <div class="profile-logo dropstart">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
            <i class="fa-solid fa-user-tie"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="/signin" (click)="logOut()">Cerrar sesión</a></li>
        </ul>

    </div>
</nav>